{
  "presets": ["next/babel"],
  "plugins": [
    [
      "css-modules-transform", {
        "extensions": [".css", ".sass"],
        "append": [ "postcss-cssnext" ],
        "generateScopedName": "[name]__[local]___[hash:base64:5]"
      }
    ]
  ]
}
