{
  "presets": ["next/babel"],
  "plugins": [
    [
      "css-modules-transform", {
        "extensions": [".css", ".sass", ".scss"],
        "append": [ "postcss-cssnext" ],
        "extractCss": "./static/assets/bundle.css"
      }
    ]
  ]
}
