.main {
  width: 720px;
  height: 100%;
  margin: auto;
  margin-top: 20px;
}
.nav {
  margin: 0 90px;
  box-sizing: border-box;
}
.content {
  padding-top: 40px;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.clear-margin {
  margin: 0;
}

.border-box {
  box-sizing: border-box;
}
